# default configuration used when pyros-setup source is part of your source workspace, and you use it like :
#
# import pyros_setup
# pyros_setup.configurable_import().configure().activate()
#

import os

WORKSPACES=[os.path.join(os.path.dirname(__file__), '..', '..', 'devel')]

# You need to specify one of these, depending on your environment
# DISTRO='indigo'
# DISTRO='jade'
DISTRO='kinetic'